* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, textarea {
  font-family: 'saira', sans-serif !important;
  letter-spacing: 2px;
  color: blue;
}

body {
  background-color: var(--dark);
  color: var(--light);
}

.containerPpal {
  margin-top: 7rem;
  margin-bottom: 10rem;
  padding-inline: 3rem;

  width: 1200px;
  margin-inline: auto;
  /* background-color: rgb(115, 141, 141); */
  
  @media (max-width: 1250px) {
    width: 90%;
  }
  @media (max-width: 500px) {
    width: 100%;
    padding-inline: 10%;
  }
}
