.homePage {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  
  .swLogoHome {
    cursor: pointer;
    width: 20rem;
    max-width: 70vw;
    margin-inline: auto;
    transition: transform 2.5s ease, filter 2.5s ease;

    &:hover {
      transform: scale(3) translateY(5vh);
      filter: drop-shadow(0 0 4px var(--mid3Alpha)) drop-shadow(0 0 8px var(--mid3Alpha));
    }
  }

  .welcome {
    margin-inline: auto;
    text-align: center;
    font-size: 1.8rem;
    max-width: 55rem;

    .welcomeP1 {
      font-size: 3rem;
      margin-bottom: 2rem;
      font-family: sairaBold;
    }

    p {
      line-height: 1.5;
      margin-bottom: 1.5rem;
    }

    a {
      color: var(--mid3);
      text-decoration: none;
      cursor: pointer;
    }
  }

}