.homePage {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  
  .swLogoHome {
    width: 20rem;
    margin-inline: auto;
    margin-bottom: 2rem;
    /* height: 10rem; */
  }

  .categoryButtons {
    display: flex;
    column-gap: 4rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: auto;
    margin-bottom: 1rem;

    button {
      background-color: transparent;
      border: none;
      color: var(--mid3);
      font-size: 1.5rem;
      font-weight: 600;
    }
    
    .wrapper{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    p {
      display: block;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      font-family: sans-serif;
      /* letter-spacing: 2px; */
      position: relative;
      transition: all .20s;
      text-transform: uppercase;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        width: 0;
        bottom: 0;
        height: 10%;
        background: var(--mid3);
        transition: all .20s;
      }
      
      &:hover:after {
        width: 100%;
      }
    }
  }

}