 .dataCard{

    h3 {
      margin-top: 5rem;
      margin-bottom: 1rem;
      color: var(--mid3);
      font-size: 2rem;
      text-transform: capitalize;
    }
    
    .relatedGallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
      gap: 0.5rem;
      
      .miniCard {
        --transition: transform 0.4s ease, opacity 0.4s ease;
        opacity: 1;
        object-fit: contain;
        text-align: center;
        cursor: pointer;
        max-width: 20rem;
        margin-inline: auto;
        
        img {
          border-radius: 0.2rem;
          object-position: top;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: var(--transition);
          opacity: 1;
        }

        p {
          position: relative;
          top: 85%;
          z-index: 1;
          font-weight: 900;
          transition: var(--transition);
          opacity: 0;
        }

        
        &:hover {
          p {
            transform: scale(1.25);
            opacity: 1;
          }
          
          img {
            transform: scale(0.95);
            opacity: 0.5;
          }
        }
      }
    }

    img {
      width: 10rem;
    }
  }